.menu-section3{
    margin-top: 100px;
    background-image: url("https://freebw.com/templates/royate/images/menu-block-bg.jpg");
    background-attachment: fixed;
    background-position: top;
    height: 300px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-header h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
    font-size: 50px;
    font-family: raleway-bold;
    font-weight: 900;
}
.menu-header p{
    font-size: 25px;
    font-weight: 400;
    font-family: "Satisfy", cursive;
    color: rgb(205, 170, 124);
}
.soups-card{
    display: flex;
    justify-content: space-around;
}