.CardDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTY2MTU3Ny13aWtpbWVkaWEtaW1hZ2Uta293YXBlZWouanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container{
   width: 400px;
   padding: 50px 0;
}
.title, .slogan{
    text-align: center;
}
.btn{
    width: 100%;
}
.alert{
    margin-bottom: 1.5rem;
}
